html { 
    background: url(../img/snow.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.upload {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.upload > .open-file-box {
    border-style: dashed;
    border-width: 4px;
    border-radius: 20px;
    height: 200px;
    width: 1000px;
    display: table-cell;
    vertical-align: middle;
}

.upload > .open-file-box > .open-file > span {
    font-size: 20px;
}